:root {
  --dourado: #fbc227;
  --preto: #000000;
  --fundo-escuro: #0a0a0a;
  --cinza-leve: #1a1a1a;
  --text-claro: #f1f1f1;
}

body {
  background-color: var(--preto);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-claro);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

/* TOPO */

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 15px;
}

.logo-area img {
  width: 140px;
}

/* PESQUISA */

.caixa-de-pesquisa {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

#pesquisa {
  width: 100%;
  max-width: 550px;
  height: 38px;
  border-radius: 30px;
  border: 1px solid rgba(245,197,66,.50);
  padding: 0 40px 0 16px;
  background-color: var(--cinza-leve);
  color: var(--text-claro);
  position: relative;
  color: #d5bf82;
  font-weight: 400;
}

#pesquisa:focus{
    border: 2px solid var(--dourado);
    outline: none;
}

.bot-lupa {
  position: absolute;
  right: 12px;
  top: 52%;
  right: 19%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.bot-lupa:hover {
    filter: brightness(1.6);
    transition: 0.2s;
}

.bot-lupa img {
  width: 20px;
}

/* ICONES DIREITA */

.icones-usuario {
  display: flex;
  align-items: center;
  gap: 28px;
}

.icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  opacity: .9;
  color: var(--dourado);
  background-color: transparent;
  border: none;
}

.icone:hover {
    filter: brightness(1.6);
    transition: 0.2s;
}

.icone img {
  width: 26px;
}

/* MENU NAV */

.nav-bar {
  background-color: var(--fundo-escuro);
  border-top: 1px solid rgba(212, 175, 55, 0.4);
  border-bottom: 1px solid rgba(212, 175, 55, 0.4);
  margin-top: 2px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  gap: 28px;
}

.nav-bar a {
  color: #e6c86a;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  transition: color 0.3s;
  letter-spacing: 0.8px;
}

.nav-bar a:hover {
  color: #ffffff;
}

/*CABEÇALHO*/ 

header {
    background-color: #000000;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

/*CARROSSEL*/

.antes, .depois {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.antes {
    left: 20px;
}

button.depois {
    right: 20px;
}

.banner {
    margin-top: 20px;
}

.carrossel {
  position: relative;
  max-width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel .slide {
  display: none;
  height: auto;
  width: 100%;
}

.carrossel .slide img {
    width: 60%;
    height: 50%;
    object-fit: cover;
    border-radius: 4px;
    object-position: center;
    margin: 0 auto;
    display: block;
}

.carrossel .slide.ativo {
  display: block;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

/*MENU DE ETIQUETAS*/

.etiquetas {
  width: 100%;
  height: 60px;
  background-color: #1a1a1a;
  margin: 0;
  border-bottom: 1px solid rgba(212, 175, 55, 0.3);
  border-top: 1px solid rgba(212, 175, 55, 0.3);
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.frete, .satisfacao, .garantia, .seguranca {
  display: flex;
  flex-direction: row;
}

/*DESTAQUES E LANÇAMENTOS*/

.titulo-linha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px 0;
    padding-left: 30px;
    gap: 10px;
    text-align: center;
}

.titulo-linha .secao {
    text-transform: uppercase;
    color: var(--dourado);
    display: inline-block;
    margin: 10px 0 10px 70px;
    font-size: 1.1rem;
}

.conteiner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
  margin: 0 100px 20px 100px;
}

.produto {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.produto img {
  width: 130px;
  height: 200px;
  margin: 10px;
}

.produto h2, p {
  margin: 3px;
}

.produto.h2 {
  font-weight: 400;
}

.produto .especifico {
  color: #a7a3a3;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.produto h2, .preco {
  color: var(--dourado);
}

.preco {
  font-weight: bold;
}

button.comprar-produto {
  margin: 20px;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: var(--dourado);
  border: none;
  font-weight: 600;
}

button.comprar-produto:hover{
  filter: brightness(1.6);
  transition: 0.2s;
}

.produto:hover {
  background-color: rgba(255, 255, 255, .08);
  transition: 0.2s;
}

.promocao {
  margin-bottom: 50px;
}

/*RODAPE*/

footer {
  width: 100%;
  height: 200px;
  background-color: #1a1a1a;
  border-top: 1px solid var(--dourado);
  display: flex;
  justify-content: center;
}

.rodape {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 200px;
}

.rodape p .detalhes{
  font-size: 1.1rem;
  margin: 20px;
  font-weight: 300;
}

.titulo {
  margin: 20px 20px 20px 0;
  font-size: 1.3rem;
}

.rodape img {
  width: 24px;
}

.coluna ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coluna ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 0.9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.coluna ul li a:hover {
  filter: brightness(1.6);
  transition: 0.2s;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.detalhes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.detalhes a {
  text-decoration: none;
  color: #fff;
}

.detalhes a p {
  display: inline-block;
  margin: 0;
}






